@layer base {
  body {
    font-family: "Inter", sans-serif;
    background: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    color: #506262;
  }

  :lang(ar) {
    font-family: "Cairo", sans-serif;
  }
}
@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--second-color);
}
.prose * {
  font-family: "Ca", sans-serif !important;
}
