@use "@/assets/variables/variables" as *;

.shared-button {
  border-radius: 32px;
  background: #0f766e;
  box-shadow: 0 20px 50px 0 rgba(81, 127, 129, 0.3);
  padding: 16px 30px;
  cursor: pointer;
  color:white;
  font-size: 18px;
  font-weight: 700;
}
.shared-outline-button {
  border-color: #154066;
  color: #1f1f1f;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.text-error {
  font-size: 12px;
}

@media (min-width: 640px) {
  .shared-button {
    padding: 24px 64px;
    font-size: 20px;
  }
}
